@import '../../../assets/css/variable.css';

.header-title {
  font-family: var(--font-h2);
  font-size: var(--text-2xl);
  color: var(--color-tertiary);
  margin: 0;
}

.avatar-border {
  border-color: var(--color-primary);
}


