@import '../../../assets/css/variable.css';

.subtitle {
  font-family: var(--font-h2);
  color: var(--color-tertiary);
}

.text-info {
  color: var(--color-tertiary);
  font-family: var(--font-p);
}

.task-cards {
  background: var(--color-primary);
  color: var(--color-tertiary);
  border-radius: var(--radius-sm);
  font-family: var(--font-p);
}