@import '../../../assets/css/variable.css';

.add-task-btn {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	z-index: 100;
}

.page-centered {
	position: relative;
}

@media (max-width: 600px) {
	.add-task-btn {
		position: fixed;
		right: 1rem;
		bottom: 4.5rem;
		width: 56px;
		height: 56px;
	}
}


.add-task-btn svg path {
	fill: var(--color-primary);
	transition: fill 0.2s;
}
.add-task-btn:hover svg path {
	fill: var(--color-tertiary);
}