@import './variable.css';

/* Layout helpers (containers, grids, etc.) */
.page-centered {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: var(--color-white);
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
}

@media (min-width: 1024px) {
  .page-centered {
    width: 60vw;
    max-width: none;
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.navbar-layout {
  display: flex;
  min-height: 100vh;
  background: #f5f5f5;
}

  @media (min-width: 1024px) {
  .navbar-layout {
    width: 60vw;
    max-width: none;
    background: var(--color-black);
    border-radius: var(--radius-sm);
    box-shadow: 0 0 32px 0 rgba(0,0,0,0.08);
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    overflow: hidden;
  }

}