@import '../../../assets/css/variable.css';

 .plant-filter-carousel {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
 .plant-filter-carousel::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
 .plant-filter-carousel button {
  background: var(--color-gray-100);
  color: var(--color-tertiary);
  border-radius: var(--radius-sm);
  font-family: var(--font-p);
  font-weight: 600;
  transition: background 0.2s, color 0.2s;
  border: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}
.plant-filter-carousel button.active {
  background: var(--color-tertiary);
  color: var(--color-secondary);
}

@media (min-width: 1024px) {
  .plant-filter-carousel {
    overflow-x: visible;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    scrollbar-width: none;
    
  }
}
