
@import '../../../assets/css/variable.css';

.plant-collection-title {
	color: var(--color-tertiary);
	font-family: var(--font-h2);
    font-size: var(--text-2xl);
    margin-bottom: 1rem;
   
}
@media (min-width: 1024px) {
.plant-collection-title {
	color: var(--color-tertiary);
	font-family: var(--font-h2);
    font-size: var(--text-2xl);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
}


.plant-collection-grid {
		background: var(--color-white);
		border-radius: var(--radius-md);
		padding: 1rem;
		column-gap: 1rem;
}

@media (min-width: 600px) {
	.plant-collection-grid {
		column-count: 2;
	}
}

.plant-card {
	break-inside: avoid;
	margin-bottom: 1rem;
	width: 100%;
}

.add-task-btn {
	position: fixed;
	right: 22rem;
	bottom: 4rem;
	z-index: 100;
}

.add-task-btn svg path {
	fill: var(--color-primary);
	transition: fill 0.2s;
}

.add-task-btn:hover svg path {
	fill: var(--color-tertiary);
}

@media (max-width: 600px) {
	.add-task-btn {
		position: fixed;
		right: 1rem;
		bottom: 4.5rem;
		width: 56px;
		height: 56px;
	}
}
