@import './assets/css/variable.css';
@import './assets/css/layout.css';


/* global layout and defaults - design tokens live in variable.css */
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background-color: var(--color-white);
}

@media (min-width: 1024px) {
  html, body {
    background-color: var(--color-black);
  }
}









